<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles/first.css" />
  <link rel="stylesheet" href="/styles/third.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/public/scripts/pass3.js"></script>
</head>

<body>


  <sidebar class="sidebar">
    <h2 style="color: black;">Discover</h2>

    <ul>

      <li><a href="/" ><button><i class="fas fa-home"></i> Home</button></a></li>
      <li><button><i class="fas fa-lock"></i> Passwords</button></li>
      <li><button><i class="fas fa-search"></i> Browse</button></li>
      <li><a href="/new" ><button><i class="fas fa-add"></i> Add Account</button></a></li>
      <% if (admin) { %>
        <li><a href="/add_user" ><button><i class="fas fa-add"></i> Add User</button></a></li>
      <% } %>
      <li></li>

      <li></li>

    </ul>

  </sidebar>




  <div class="content">

    <div class="header">

      <h1>PasswordKeepR <span class="logo"><i class="fa-sharp fa-solid fa-key fa-flip-horizontal" style="color: #000000;"></i></i></span></h1>

      <div class="actions">

             <div class="dropdown">

          <p class="dropbtn">Welcome: <%= userName %> </p>

          <div class="dropdown-content">

            <form action="/logout" method="POST">
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>

          </div>

        </div>

      </div>

    </div>
    <div>
      <div class="header">

        <h2 id="addPassword">Edit Account</h2>

      </div>


      <div class="container">


        <div class="form-group">
          <form id = 'myform' action="/edit" method="POST">
            <!-- Add accountID as hidden input so can pass it -->
            <input type="hidden" id="accountID" name="accountID" value="<%= accountInfo.id %>">

            <label class="label">URL:</label>

            <input type="text" class="input" id="url" name="url" placeholder="Enter URL" value="<%= accountInfo.website_url %>">

            <label class="label">Name:</label>

            <input type="text" class="input" id="accountName" name="accountName" placeholder="Enter Name" value="<%= accountInfo.account_name %>">

            <label class="label">Username:</label>

            <!-- list for category -->
            <label class="label">Category:</label>
            <select class="input" id="category" name="category">
              <option value="social">Social</option>
              <option value="work">Work Related</option>
              <option value="entertainment">Entertainment</option>
            </select>

            <input type="text" class="input" id="username" name="username" placeholder="Enter username" value="<%= accountInfo.username %>">
            <label class="label">Site password:</label>

            <input type="password" id = "generatedPassword" class="input" id="password" name="password" placeholder="Enter password" value="<%= accountInfo.password %>" minlength="12" maxlength="30">
            <br/>
            <button type="button" id="generateBtn">Generate</button>


          <script >
             // define handy variables

                    const generatePass = function() {

                    const upperABC = 'ABCDEFGHIGKLMNOPQRSTUVWXYZ';
                    const lowerAbc = 'abcdefghigklmnopqrstuvwxyz';
                    const specialChar = '!@£$%^&*()_+?/#';
                    const numbers = "123456789";

                    const charset = upperABC + lowerAbc + specialChar + numbers;
                    const passLength = 12;

                    let password = '';
                    for(let i = 0 ; i < 12; i++ ) {
                      const randomIndex = Math.floor(Math.random() * charset.length )
                        password += charset[randomIndex];

                        }
                    console.log(password);
                    return password;
                    };
                    // get the field in the html file to update
                    const updateField = function(){
                    const passwordField = document.getElementById('generatedPassword');
                    const generatefn = generatePass();
                    passwordField.value = generatefn;
                    };
                    // listen to button click
                    const button = document.getElementById('generateBtn');
                    button.addEventListener("click",updateField);

                    // clear inputs after refresh
                    function clearInp () {
                    document.getElementById('generatedPassword').value = "";
                    }


                    </script>
          <label class="label">Notes:</label>

          <textarea class="input" id="notes" name="notes" placeholder="Enter Notes" value="<%= accountInfo.description %>"></textarea>
          <button class="button cancel" type="button" onclick="clearInp()">Cancel</button>

          <button class="button" type = "submit">Save</button>
          </form>

          <script>
          // clear inputs after refresh
          function clearInp () {
          document.getElementById('myform').reset();
          }
          </script>




        </div>

      </div>

    </div>



  </div>


</body>

</html>
